# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore CMake build directory
/build/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

# Ignore VSCode CMake-related files
CMakeUserPresets.json
CMakePresets.json

# Ignore CLion IDE files
.idea/

# Ignore Ninja and other build system files
/build.ninja
/.ninja_log
/.ninja_deps